.button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 64px;
  background: $color-background-body;
  border-radius: 100px;
}

.button_text {
  display: flex;
  flex-direction: column;
}