.tabs_buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  @include media-mobile {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.tab_button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 17px 7px 7px;
  color: $color-text-dark;
  background: $color-background-body;
  border: 1px solid $color-border-light;
  border-radius: 100px;
  &:hover {
    color: $color-background-body;
    background: $color-border-dark;
    border: 1px solid $color-background-body;
    cursor: pointer;
    transition: 0.5s ease-out;
    & > .tab_button_icon {
      background: $color-background-body;
      transition: 0.5s ease-out;
    }
  }

  &_active {
    color: $color-background-body;
    background: $color-border-dark;
    border: 1px solid $color-background-body;
    &:hover {
      cursor: default;
    }
    & > .tab_button_icon {
      background: $color-background-body;
      transition: 0.5s ease-out;
    }
  }
}

.tab_button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: $color-border-light;
}