.text {
  @include font(16px, 24px, 400);
}

.text_button {
  @include font(16px, 24px);
}

.text_subtitle {
  @include font(24px, 30px);
}

.text_tiny {
  @include font(10px, 14px);
}

.text_light {
  color: $color-background-body;
}

.text_dark {
  color: $color-text-dark;
}

.text_accent {
  font-style: italic;
  color: $color-title-accent;
}