* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background: #E1D4C9;
  color: #403F3D;
}

h1 {
  font-size: 72px;
  line-height: 75.6px;
  font-weight: 600;
}
@media (max-width: 656px) {
  h1 {
    font-size: 52px;
    line-height: 48.3px;
    font-weight: 600;
  }
}
@media (max-width: 380px) {
  h1 {
    font-size: 42px;
    line-height: 48.3px;
    font-weight: 600;
  }
}

h2 {
  padding-bottom: 40px;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
}
@media (max-width: 380px) {
  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.link {
  font-weight: 600;
  line-height: 24px;
  color: #403F3D;
  text-decoration: none;
}

.hamburger::after, .hamburger::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 1.5px;
  background: #665F55;
  border-radius: 1.5px;
  transition: 0.5s;
}

.hamburger {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid #665F55;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hamburger::before {
  top: 24px;
  left: 12px;
}
.hamburger::after {
  top: 16px;
  left: 12px;
}

.hamburger_active::before {
  transform: translate(0px, -4px) rotate(-45deg);
}
.hamburger_active::after {
  transform: translate(0px, 4px) rotate(45deg);
}

.section {
  margin-bottom: 98px;
}

.container {
  max-width: 1440px;
  height: 100%;
  padding: 0 40px;
  margin: auto;
}
@media (max-width: 380px) {
  .container {
    padding: 0 16px;
  }
}

.header {
  padding: 20px 0;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 60px;
}

.navigation {
  display: flex;
  flex-basis: 100%;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .navigation {
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    top: 100px;
    right: -100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 68px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    background: #E1D4C9;
    overflow: auto;
  }
  .navigation.active {
    right: 0;
  }
}

.navigation_list {
  display: flex;
  gap: 40.5px;
  margin: 0 0 0 auto;
}
@media (max-width: 768px) {
  .navigation_list {
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 76.5px;
  }
}

.navigation_item {
  list-style: none;
}

.header_link {
  position: relative;
  display: flex;
  gap: 10px;
}

.header_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #403F3D;
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scaleX(0);
}

.header_link:hover::after {
  left: 0;
  right: 0;
  opacity: 1;
  transform: scaleX(1);
}

.header_link_menu {
  margin-left: auto;
}
@media (max-width: 768px) {
  .header_link_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 106px 0 0;
  }
  .header_link_menu > img {
    width: 40px;
    height: 40px;
  }
}

.active {
  visibility: visible;
}

.enjoy_container {
  position: relative;
}

.enjoy_video {
  width: 100%;
  height: 644px;
  object-fit: cover;
  border-radius: 40px;
}
@media (max-width: 380px) {
  .enjoy_video {
    max-height: 552px;
  }
}

.enjoy_content {
  position: absolute;
  top: 100px;
  left: 140px;
  max-width: 530px;
}
@media (max-width: 768px) {
  .enjoy_content {
    left: 13%;
  }
}
@media (max-width: 656px) {
  .enjoy_content {
    top: 60px;
    width: 80%;
  }
}
@media (max-width: 380px) {
  .enjoy_content {
    top: 60px;
    left: 33px;
    max-width: 320px;
  }
}

.enjoy_text {
  margin: 40px 0;
  line-height: 24px;
}

.enjoy_button {
  gap: 0.5px;
  justify-content: center;
  border: 1px solid #E1D4C9;
}
.enjoy_button:hover {
  opacity: 1;
}
.enjoy_button:hover .enjoy_button_icon {
  opacity: 1;
}

.enjoy_button_icon {
  background-image: url("../assets/images/svg/coffee-cup.svg");
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.5s ease-out;
}

.about_images_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 590px 430px;
  gap: 40px;
}
@media (max-width: 768px) {
  .about_images_wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 590px);
  }
}

.about_box_img {
  border-radius: 20px;
  overflow: hidden;
}

.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.about_img:hover {
  transform: scale(1);
}

.narrow_img {
  height: 430px;
}
@media (max-width: 768px) {
  .narrow_img {
    display: none;
  }
}

.wide_img {
  height: 590px;
  align-self: end;
}
@media (max-width: 768px) {
  .wide_img {
    align-self: auto;
  }
}

.favorites {
  text-align: center;
}

.favorites_slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 656px) {
  .favorites_slider {
    justify-content: center;
  }
}

.slider_control {
  width: 60px;
  height: 60px;
  background: #E1D4C9;
  border: 1px solid #665F55;
  border-radius: 100%;
  cursor: pointer;
}
@media (max-width: 656px) {
  .slider_control {
    display: none;
  }
}
.slider_control:hover {
  color: #E1D4C9;
  background: #665F55;
  transition: 0.5s ease-out;
}

.slider_control svg {
  stroke: #403F3D;
}

.slider_control:hover svg {
  stroke: #E1D4C9;
}

.slides_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 480px;
  overflow: hidden;
}

.slider_line {
  display: flex;
  max-width: 1440px;
  height: 640px;
  transition: all ease 1s;
  position: relative;
  left: 0;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (max-width: 656px) {
  .slide {
    width: 100%;
  }
}

.favorites_pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.pagination {
  width: 40px;
  height: 4px;
  background: #C1B6AD;
  border-radius: 100px;
}
.pagination_active {
  background: #665F55;
  transition: 0.5s ease-out;
}

.mobile_app_container {
  display: flex;
  align-items: center;
  gap: 100px;
}
@media screen and (max-width: 1230px) {
  .mobile_app_container {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.mobile_app_content {
  max-width: 630px;
}
@media (max-width: 380px) {
  .mobile_app_content {
    max-width: 348px;
  }
}

.mobile_app_text {
  margin-bottom: 40px;
}

.mobile_app_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .mobile_app_img {
    width: 100%;
  }
}

.mobile_app_button {
  gap: 12px;
  padding: 0 22px;
  border: 1px solid #665F55;
}

.mobile_app_button:hover {
  color: #E1D4C9;
  background-color: #665F55;
  transition: 0.5s ease-out;
}

.mobile_app_button svg {
  fill: #403F3D;
}

.mobile_app_button:hover svg {
  fill: #E1D4C9;
  transition: fill 0.5s ease-out;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background: #665F55;
  border-radius: 40px;
}
@media (max-width: 1024px) {
  .footer_container {
    flex-wrap: wrap;
    padding: 100px 60px;
  }
}
@media (max-width: 380px) {
  .footer_container {
    padding: 63px 16px;
    gap: 37px;
  }
}

.footer_title {
  max-width: 530px;
}
@media (max-width: 768px) {
  .footer_title {
    width: 100%;
  }
}

.footer_socials {
  display: flex;
  gap: 12px;
}

.social_link {
  width: 60px;
  height: 60px;
  padding: 17px;
  border: 1px solid #C1B6AD;
  border-radius: 100%;
}
.social_link:hover {
  color: #C1B6AD;
  background: #E1D4C9;
  transition: 0.5s ease-out;
}

.social_link svg {
  stroke: #C1B6AD;
}

.social_link:hover svg {
  stroke: #665F55;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding-top: 36px;
}
@media (max-width: 768px) {
  .footer_contacts {
    padding-top: 5px;
  }
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer_item {
  font-weight: 600;
  list-style: none;
}

.contact_link {
  position: relative;
}

.contact_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #E1D4C9;
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  transform: scaleX(0);
}

.contact_link:hover::after {
  left: 0;
  right: 0;
  opacity: 1;
  transform: scaleX(1);
}

.menu_title {
  max-width: 800px;
  margin: 0 auto 40px;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 380px) {
  .menu_title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
  }
}

.menu_tabs {
  margin-bottom: 39px;
}

.menu_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 309px);
  justify-content: center;
  gap: 40px;
}

.menu_item {
  border: 1px solid #C1B6AD;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .menu_item_hidden {
    display: none;
  }
}

.item_img {
  border-radius: 40px;
  overflow: hidden;
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s ease-out;
}
.item_img img:hover {
  transform: scale(1);
}

.item_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 193px;
  padding: 20px;
}

.menu_item_price {
  margin-top: auto;
}

.button-refresh {
  display: none;
  width: 60px;
  height: 60px;
  margin: 40px 46%;
  background: #E1D4C9;
  border: 1px solid #665F55;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .button-refresh {
    display: block;
  }
}
@media (max-width: 380px) {
  .button-refresh {
    margin: 40px 41%;
  }
}

.button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 64px;
  background: #E1D4C9;
  border-radius: 100px;
}

.button_text {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.text_button {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.text_subtitle {
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.text_tiny {
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
}

.text_light {
  color: #E1D4C9;
}

.text_dark {
  color: #403F3D;
}

.text_accent {
  font-style: italic;
  color: #B0907A;
}

.tabs_buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
@media (max-width: 380px) {
  .tabs_buttons {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.tab_button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 7px 17px 7px 7px;
  color: #403F3D;
  background: #E1D4C9;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
}
.tab_button:hover {
  color: #E1D4C9;
  background: #665F55;
  border: 1px solid #E1D4C9;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.tab_button:hover > .tab_button_icon {
  background: #E1D4C9;
  transition: 0.5s ease-out;
}
.tab_button_active {
  color: #E1D4C9;
  background: #665F55;
  border: 1px solid #E1D4C9;
}
.tab_button_active:hover {
  cursor: default;
}
.tab_button_active > .tab_button_icon {
  background: #E1D4C9;
  transition: 0.5s ease-out;
}

.tab_button_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #C1B6AD;
}

/*# sourceMappingURL=style.css.map */
