$color-background-body: #E1D4C9;
$color-text-dark: #403F3D;
$color-title-accent: #B0907A;
$color-border-dark: #665F55;
$color-border-light: #C1B6AD;

$content-width: 1440px;
$tablet-width: 768px;
$mobile-min-width: 320px;