.about_images_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 590px 430px;
  gap: 40px;
}

.about_box_img {
  border-radius: 20px;
  overflow: hidden;
}

.about_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s ease-out;
  &:hover {
    transform: scale(1);
  }
}

.narrow_img {
  height: 430px;
}

.wide_img {
  height: 590px;
  align-self: end;
}