.enjoy_container {
  position: relative;
}

.enjoy_video {
  width: 100%;
  height: 644px;
  object-fit: cover;
  border-radius: 40px;
}

.enjoy_content {
  position: absolute;
  top: 100px;
  left: 140px;
  max-width: 530px;
}

.enjoy_text {
  margin: 40px 0;
  line-height: 24px;
}

.enjoy_button {
  gap: 0.5px;
  justify-content: center;
  border: 1px solid $color-background-body;
  &:hover {
    opacity: 1;
    .enjoy_button_icon {
      opacity: 1;
    }
  }
}

.enjoy_button_icon {
  background-image: url("../assets/images/svg/coffee-cup.svg");
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: 0.5s ease-out;
}