.menu_title {
  max-width: 800px;
  margin: 0 auto 40px;
  @include font(60px, 75px);
  text-align: center;
  @include media-mobile {
    @include font(32px, 40px);
  }
}

.menu_tabs {
  margin-bottom: 39px;
}

.menu_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 309px);
  justify-content: center;
  gap: 40px;
}

.menu_item {
  border: 1px solid $color-border-light;
  border-radius: 40px;
  &_hidden {
    @include media-tablet {
      display:none;
    }
  }
}

.item_img {
  border-radius: 40px;
  overflow: hidden;
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.5s ease-out;
  &:hover {
    transform: scale(1);
  }
}

.item_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 193px;
  padding: 20px;
}

.menu_item_price {
  margin-top: auto;
}

.button-refresh {
  display: none;
  width: 60px;
  height: 60px;
  margin: 40px 46%;
  background: $color-background-body;
  border: 1px solid $color-border-dark;
  border-radius: 100%;
  @include media-tablet {
    display: block;
  }
  @include media-mobile {
    margin: 40px 41%;
  }
}