.mobile_app_container {
  display: flex;
  align-items: center;
  gap: 100px;
  @media screen and (max-width: 1230px) {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.mobile_app_content {
  max-width: 630px;
  @include media-mobile {
    max-width: 348px;
  }
}

.mobile_app_text {
  margin-bottom: 40px;
}

.mobile_app_buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.mobile_app_img {
  @include media-tablet {
    width: 100%;
  }
}

.mobile_app_button {
  gap: 12px;
  padding: 0 22px;
  border: 1px solid $color-border-dark;
}

.mobile_app_button:hover {
  color: $color-background-body;
  background-color: $color-border-dark;
  transition: 0.5s ease-out;
}

.mobile_app_button svg {
  fill: $color-text-dark;
}

.mobile_app_button:hover svg {
  fill: $color-background-body;
  transition: fill 0.5s ease-out;
}