* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background: $color-background-body;
  color: $color-text-dark;
}


h1 {
  @include font(72px, 75.6px);
}

h2 {
  padding-bottom: 40px;
  @include font(60px, 75px);
}

h3 {
  @include font(24px, 30px);
}